@CHARSET "UTF-8";

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:12px;
   color:#333;
   background:#fff;
}

#header p {
   margin:0;
   padding:10px;
   font-size:14px;
}

#app {
   float:left;
   width:540px;
   padding:10px;
}

#app table {
   border-collapse:collapse;
}

#app table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
   background:#f0f7fc;
}

#app table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #aaa;
}

.caption {
   background:#f0f7fc;
}

.hide {
    display: none;
}
.show {
    display: inline-block;
}

