@CHARSET "UTF-8";

#headerTable {
	width: 1000px;
}
#recordsDiv {
	overflow: auto;
	height: 300px;
	width: 1015px;
}
#recordsTable {
	width: 1000px;
}

.recUserId {
	width:10%;
	height:10px;
}
.recUserNm {
	width:20%;
	height:10px;
}
.recOrg1 {
	width:13%;
	height:10px;
}
.recOrg2 {
	width:13%;
	height:10px;
}
.recRole {
	width:10%;
	height:10px;
}
.recStartDate {
	width:10%;
	height:10px;
}
.recEndDate {
	width:10%;
	height:10px;
}

.recCmd {
	width:14%;
	height:10px;
}

.inpUserId {
	width:80px;
}
.inpUserNm {
	width:160px;
}
.inpOrg1 {
	width:80px;
}
.inpOrg2 {
	width:80px;
}
.inpRole {
	width:80px;
}
.inpStartDate {
	width:80px;
}
.inpEndDate {
	width:80px;
}


